<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Lista de Articulos
    </ion-title>
    <span style="float: right;">Total: ${{service.valorCompra}}</span>
    <ion-icon slot="end" color="primary" name="cart-outline" (click)='verCarrito();'></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar animated (ionChange)="buscar($event)"></ion-searchbar>
 
  <ion-list *ngFor="let articulo of listaAriculos | filtro: textoBuscar : 'Nombre'">
    <ion-card expand="block">         
      <ion-card-content>
        <ion-card-header class="image">
          <ion-card-title>{{articulo.Nombre}}</ion-card-title>
          
        </ion-card-header> 
        <img src={{articulo.img}}> 
          <span class="car">Precio: ${{articulo.Precio}}</span>       
        <ion-button style="margin-top: 20px;" expand="block" shape="round" fill="outline" (click)="agregar(articulo)">Detalle</ion-button>  
          
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>


